# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but **may not begin with a digit**. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Write a statement to create variable `myBirthYear` and use the **assignment symbol (`=`)** to give `myBirthYear` a numeric value.

### Print a message consisting of a quoted sequence of characters

print('Hello World')

In [15]:
x=5*6

### Combine our knowledge about variables and printing to output a variable entered in a prior cell.

In [17]:
print(myBirthYear)

NameError: name 'myBirthYear' is not defined

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Use `dir('  ')` to display all possible methods (ways we can manipulate) strings (sequences of characters).

In [ ]:
dir(" ")

### Note: you don't need to worry about most of the methods defined above.  We are interested in a very small subset.

In [23]:
# print uppercase version of a string
myName = 'Robert'
print(myName.upper())

ROBERT

In [25]:
# print lowercase version of a string
print(myName.lower())

robert

In [27]:
# capitalize only the first letter in a string

print(myName.title())

Robert

In [ ]:
myGreetings = 'hello. today is wednesday.'

In [31]:
# provide title-case for a string (Notice how this is distinct from capitalizing)
print(myGreetings.capitilize())

NameError: name 'myGreetings' is not defined

In [29]:
# Concatenate two strings (be careful -- this is done in a slightly different fashion!)
mystr1 = 'hello class.'
mystr2 = 'this is cs150.'
print(mystr1)
print(mystr2)

hello class.
this is cs150.

In [33]:
print(mystr1 + mystr2)

hello class.this is cs150.

In [ ]:
# Find the number of characters in a string (again, this may vary)

## Practice 1:
Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”

In [ ]:
classmateName = 'Eric'

In [51]:
print (hello(classmateName)would you like to learn some Python today?)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3571147436.py, line 1)

## Practice 2:
Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [68]:
familyMember = 'Robert macmichael'

In [70]:
print(familyMember)

familyMember

In [75]:
print(familyMember.upper)

<built-in method upper of str object at 0x000002384EDF0730>

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

## Useful methods for splitting a string
- split
- rsplit (we'll talk about the difference between this and split later)
- splitlines

In [86]:
greetings = "hello. Today is Friday the 17th of january."
print(greetings.split())

['hello.', 'Today', 'is', 'Friday', 'the', '17th', 'of', 'january.']

NameError: name 'greetings' is not defined

## Useful methods for stripping a string of whitespace characters (" ", "\t", "\n")
- lstrip
- rstrip
- strip

In [84]:
leadingstring = '\n\thello. this example has white space at the front.'
print(leadingstring)

	hello. this example has white space at the front.

## Practice 3
1. Stripping Sentences: Create a sentence consisting of multiple words, and include some whitespace characters at the beginning and end of the name. Make sure you use " ", "\t" and "\n", at least once at the beginning and/or end.
Print the sentence once, so the whitespace around the sentence is displayed.
Then print the sentence using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [97]:
mygroceries = '\n\t tomatoes, bread, milk \n\t'
print(mygroceries)

	 tomatoes, bread, milk

#### Replacing words or characters of a string (Note: we're only brushing the surface of what Python can do here!)

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [105]:
num1 = 21
num2 = 5
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

26
16
105
4.2

NameError: name 'num1' is not defined

## Avoiding Type Errors with the str() Function

In [115]:
print('the first number I typed was ' + str( num1))

the first number I typed was 21

## Practice 4
Basic Arithmetic: Write addition, subtraction, multiplication, and division
operations that each result in the number 91. <br>Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print([num1] + [num2]), where num1 and num2 are appropriate numbers for the operation.<br>
Your output should simply be four lines with the number 91 appearing once
on each line.

In [117]:
print(50+41)
print(100-9)
print(182/2)
print(45.5*2)

91
91
91.0
91.0

In [ ]:
homework is right here

In [123]:
# RobertMacMichael - Markdown Practice.

### hi

In [ ]:
## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [ ]:
input('please input a value')

In [ ]:
Str1 = input('please input a string')

In [130]:
cost_pg = float(input('how much was your gas'))

how much was your gas 50

In [ ]:
num_gallons = int(input('How many gllons of gas does your car need?'))

In [146]:
print(str(cost_pg / num_gallons) + ' is your cost per gallon')

5.0 is your cost per gallon

## Practice 5
Favorite Number: Select your own favorite number, and store it in a variable.  Ask a user for their favorite number, and store it in a second variable. Then, using those two variables, create a print message indicating the sum of the two numbers.

## Checking the data type using `type` function

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

## Flow of Control
* A crucial aspect to programming is the order in which operations are executed (flow of control).
* The vast majority of languages (Python included) dictate that statements are to be executed one by one in sequential order.
    * The Python standard is that statements are separated by line-breaks in top-to-bottom order.
    * Python also allows semicolons (;) to break apart multiple statements on a single line.
* Various Python statements enable you to subvert standard flow of control. We will look at these in a later chapter.

## Practice 6
Diagnosing the errors: The code in the first cell below consists of multiple errors.
1. Using Markdown in the second cell below, identify each error and its category (logical, run-time, syntax) using a numbered list
2. In the third cell below, post a fixed version of the code.

In [154]:
product_price = 11.99; taxed_rate = 1.06 
product_qty = float(input('please input how many items you purchased'))
subtotal = product_price * product_qty
taxed_total = subtotal * taxed_rate
print('The total cost of your purchase is $' + str(round(taxed_total,2)))

please input how many items you purchased 1

The total cost of your purchase is $12.71