Assignment #2, Robert MacMichael, spring 2025

Task 1: Personal Information

In [1]:
myname = 'Robert MacMichael'
mymajor = 'Business Administration'
mygame = 'lacrosse'
mytown = 'Bloomfield, MI'

In [3]:
print('My name is ' + myname + ', I am pursuing a degree in ' + mymajor + ', my favorite game is ' + mygame + ', and my hometown is ' + mytown +'.')

My name is Robert MacMichael, I am pursuing a degree in Business Administration, my favorite game is lacrosse, and my hometown is Bloomfield, MI.

Task 2: Temperature Conversion

In [66]:
farenheitTemp = int(input('What is the temperature in farenheit?:'))

What is the temperature in farenheit?: 32

In [68]:
celciusTemp = (farenheitTemp - 32) * 5 / 9

In [72]:
print('The temperature is ' + str(farenheitTemp) + '째F, which is the equivalent to ' + str(celciusTemp) + '째C.')

The temperature is 32째F, which is the equivalent to 0.0째C.

Task 3: Simple Calculator

In [74]:
num1 = 2
num2 = 5

In [80]:
subtraction = num2 - num1
print(subtraction)

3

In [82]:
multiplication = num1 * num2
print(multiplication)

10

In [84]:
division = num1 / num2
print(division)

0.4

Task 4: String Manipulation

In [112]:
quote = "I'll be back."

In [114]:
print(len(quote))

13

In [116]:
print(quote.upper())

I'LL BE BACK.

In [118]:
print(quote.lower())

i'll be back.

In [120]:
print(quote.split())

["I'll", 'be', 'back.']

Task 5: User Input and Operations

In [131]:
length = int(input('What is the length of your cube:'))
width = int(input('What is the width of your cube:'))
height = int(input('What is the height of your cube:'))

What is the length of your cube: 10
What is the width of your cube: 10
What is the height of your cube: 10

In [139]:
volume = length * width * height
print('The volume of your cuboid is ' + str(volume) + ' units.')

The volume of your cuboid is 1000 units.